<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Клиенты</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body>
<main>
    <article>
        <div class="container">
            <h1><span>Список<br>клиентов</span></h1>
            <p class="subtitle">Выберете клиента для редоктирования</p>
        </div>
        <div th:each="person : ${people}">
            <a th:href="@{/people/{id} (id=${person.getId()})}"
               th:text="${person.getName()} + ', ' + ${person.getAge()}"></a>
        </div>
        <br>
        <hr>
        <div class="button-container">
            <a th:href="@{/people/new}">Создать нового человека</a>
        </div>
    </article>
</main>
</body>
</html>